.scrollbar::-webkit-scrollbar {
    display: block;
    width: 12px;
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: #DEE1E3;
    border-radius: 999px;
}

.scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
}
