@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
    html {
        line-height: 1.3;
        letter-spacing: -0.02em;
        font-family: 'Pretendard', sans-serif;
    }
}