@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
    * {
        letter-spacing: -0.02em;
        font-family: 'Pretendard', sans-serif;
        ::-webkit-scrollbar {
            display: none;
        }
    }

    main > * {
        margin: 0 auto;
    }
}

@layer components {
    .separator {
        @apply flex basis-full items-center text-talearnt_Text_04 text-sm;

        &::before {
            content: "";
            @apply flex-grow bg-talearnt_Line_01 h-px mr-6;
        }

        &::after {
            content: "";
            @apply flex-grow bg-talearnt_Line_01 h-px ml-6;
        }
    }

    .scrollbar {
        &::-webkit-scrollbar {
            @apply block;
        }

        &::-webkit-scrollbar-thumb {
            @apply rounded-full bg-clip-padding bg-talearnt_Icon_03;
        }

        &::-webkit-scrollbar-track {
            @apply bg-transparent;
        }
    }

    .scrollbar-w10-5 {
        &::-webkit-scrollbar {
            @apply w-[20px];
        }

        &::-webkit-scrollbar-thumb {
            border: 5px solid transparent;
        }
    }

    .scrollbar-w10-8 {
        &::-webkit-scrollbar {
            @apply w-[26px];
        }

        &::-webkit-scrollbar-thumb {
            border: 8px solid transparent;
        }
    }

    .scrollbar-w12-10 {
        &::-webkit-scrollbar {
            @apply w-8;
        }

        &::-webkit-scrollbar-thumb {
            border: 10px solid transparent;
        }
    }
}

.ql-align-center {
    text-align: center;
}

.ql-align-right {
    text-align: right;
}

.slide-talents {
    transition: transform 2s linear;
}

.slide-talents:hover {
    transform: translateX(var(--dynamic-translate-x));
}

.horizontal > * {
    flex-shrink: 0;
    user-select: none;
}